<% for(let index in comments){
    let comment = comments[index]; %>
    <div class="posted_comments">
        <p>
            <span><%= comment.full_name %></span>
            <span><%= comment.posted_date %></span>

            <% if(comment.user_id === current_user.id && comment.show_delete){ %>
                <button class="delete_comment" data-comment-id="<%= comment.comment_id %>"></button>    
            <% } %>
        </p>
        <p><%= comment.comment %></p>
    </div>

<% } %>