<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="/javascripts/jquery-3.6.1.min.js"></script>
    <script src="/javascripts/dashboard_script.js"></script>
</head>
<body>
    <div id="main">
        <div id="navbar">
            <h1>The Wall</h1>
            <span>Welcome! <span class="user_info"> Jones L.</span></span>
            <a href="/logout">Logout</a>
        </div>
        <div id="message_board">
            <div id="post_message">
                <form action="/messages/post" id="post_message_form" method="post">
                    <textarea name="message"></textarea>
                    <button type="submit">Post Message!</button>
                </form>
            </div>
        </div>
        <div id="messages">
            <%- include('./partials/message.ejs', {messages, comments, current_user}) %>
        </div>
    </div>
</body>
</html>