#navbar > h1{
    width: 85%;
    display: inline-block;
}

#main{
    padding: 0px 5%;
}

.user_info{
    margin-right: 10px;
}

textarea {
    width: 100%;
}

#message_board{
    margin-top: 60px;
}

.comment_board, .comment_area{
    padding: 0px 3%;
}

button{
    padding: 10px;
}

form{
    text-align: right;
}